<!DOCTYPE html>
<html>
<head>
    <title>Vuelos y Mascotas</title>
</head>
<body>
    <h1>Bienvenido a la Reserva de Vuelos y Mascotas</h1>
    <nav>
        <a href="/register_user">Registrar Usuario</a> |
        <a href="/register_pet">Registrar Mascota</a> |
        <a href="/flights">Consultar Vuelos</a> |
        <a href="/reserve_flight">Reservar Vuelo</a> |
        <a href="/buy_flight">Comprar Vuelo</a> |
        <a href="/manage">Gestionar</a>
    </nav>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>